python-dotenv
langchain
langchain-core
langchain-community
langgraph
langchain-groq
groq
langchain-ollama
ollama
requests
scikit-learn
tiktoken
pypdf
transformers
numpy
langgraph-checkpoint-sqlite
ddgs
duckduckgo-search
faiss-cpu
streamlit
langchain-tavily